* {
    font-family: Verdana, Helvetica;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    color: rgb(183, 190, 201);
    background-color: rgb(23, 53, 93);
}

div {
    background-color: transparent;
}

.backgroundDark {
    background-color: rgb(15, 35, 62);
}

.background {
    background-color: rgb(23, 53, 93);
}

a {
    background-color: rgb(15, 35, 62);
}

button {
    background-color: rgb(15, 35, 62);
    padding: 6px;
    margin: 1px;
    border: 1px solid rgb(38, 61, 93);
}

button:hover {
    background-color: rgb(7, 137, 197);
}

input {
    font-size: 1.25rem;
    border: 1px solid rgb(38, 61, 93);
    background-color: rgb(15, 35, 62);
    margin: 1px;
    padding: 6px;
}

*:focus {
    outline: none;
    border: 1px solid rgb(183, 190, 201);
}


span {
    background-color: transparent;
    vertical-align: middle;
}
